#generic CMake files

CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json

#test build files
test/build

#application build files
build
out
src/audioDat
src/temp

#VS CODE
.vscode
